.centrar-tablero {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
    margin: 40px auto;
}

.fila {
    display: flex;
}

.casilla {
    width: 80px;
    height: 80px;
}

.verde {
    background-color: #769656;
}

.blanca {
    background-color: #eeeed2;
}

.casilla img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
