:root{
    --verde-oscuro: #2e4e3f;
    --beige:#f3e9d2;
    --beige-oscuro:#e4d6b8;

}

body{
    margin:0;
    font-family: Arial, sans-serif;
    background:var(--beige);
    color: var(--verde-oscuro);
    line-height: 1.6;
}
#inicio{
    margin:200px 20px;
}
.fixed{
    top: 0;
    position: sticky;
    box-shadow: 0px 1px 5px 1px #f3e9d2 ;
    border-radius: 10px 10px 10px;
}

#contenedor{
    width: 1000px;
    margin: 0 auto;
}
#cabecera{
    background: var(--verde-oscuro);
    color:white;
    text-align: center;
    padding: 20px 0;
    margin:0;
    border-radius:10px 10px 0px 0px !important;
}
h2{
    color:var(--beige);
    background-color: var(--verde-oscuro);
    border-radius: 10px;
    text-align: center;
}
h3{
    font-style: italic;
}



nav ul{
    list-style: none;
    padding:0;
    margin: 0;
    background: var(--beige-oscuro);
    text-align: center;
    border-radius: 0px 10% 10% 0px;
}
nav ul li{
    display:inline-block;
    margin:5px;
}
nav ul li a{
    display: inline-block;
    padding:10px 20px;
    background: var(--verde-oscuro);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
nav ul li a:hover{
    background: var(--beige);
    color:var(--verde-oscuro);
}

div[id]{
    padding:20px;
    margin: 20px;
    background: var(--beige-oscuro);
    border-radius: 8px;
}
.planta-contenido{
    width: 100%;
}

.planta-contenido img{
    display: inline-block;
    width: 500px;
    height: auto;
    border-radius: 8px;
    margin:10px;
}
.planta-contenido p{
    display:inline-block;
    width: 680px;
    vertical-align: top;
}
#potos,#dracena,#costilla#espatifilo{
    border: 2px dotted var(--verde-oscuro);
}
#inicio,#cuidados{
    border:2px solid var(--verde-oscuro);
}
footer{
    text-align: center;
    padding:80px;
    background: var(--verde-oscuro);
    color:white;
}
body{
    background-image: url(./img/fondo_plantas.webp);
}
footer{
    color:black;
    font-size:20px;
    font-weight: 900;
    background-repeat: no-repeat;
    background-image: url(./img/fondo_pie.png);
    background-size: cover;
    background-position: center center;
}