
.centrar-tablero {
    position: relative;
    width: 640px;
    height: 640px;
    margin: 50px auto;
}

.casilla {
    position: absolute;
    width: 80px;
    height: 80px;
}

.verde {
    background-color: #769656;
}

.blanca {
    background-color: #eeeed2;
}

.casilla img {
    width: 100%;
    height: 100%;
}