*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 1000px;
    margin:auto;
    background-color: bisque;
}
header{
    margin: 0;
    background-color:rgb(231, 192, 144);
}
.enl{
    border: solid 1px rgb(230, 176, 2);
    border-radius:10px ;
    width: 55%;
    margin: auto;
    padding:10px;
    
    background-color: rgb(247, 204, 114);
    box-shadow: 0px 0px 5px 2px rgba(235, 166, 18, 0.425) ;
}
.titulo{
    text-align: center;
    margin:0px 0px 10px 0px;
    color:rgb(79, 64, 47);

}

a:hover{
    background-color: rgb(245, 95, 36);
    color: black;
}