.centrar-tablero {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    margin: 40px auto;
    width: 640px;

}


.casilla {
    display: flex;
    justify-content: center;
    align-items: center;
}


.casilla:nth-child(odd) {
    background-color: #769656;
}

.casilla:nth-child(even) {
    background-color: #eeeed2;
}


.centrar-tablero .casilla:nth-child(16n + 1),
.centrar-tablero .casilla:nth-child(16n + 3),
.centrar-tablero .casilla:nth-child(16n + 5),
.centrar-tablero .casilla:nth-child(16n + 7) {
    background-color: #eeeed2;
}

.centrar-tablero .casilla:nth-child(16n + 2),
.centrar-tablero .casilla:nth-child(16n + 4),
.centrar-tablero .casilla:nth-child(16n + 6),
.centrar-tablero .casilla:nth-child(16n + 8) {
    background-color: #769656;
}

.casilla img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

