body{
    background-color: rgb(194, 219, 151);
    width: 1000px;
    margin: auto;
}
#contenedor{
    display: flex;
    flex-direction: column;
    
}



#cabecera{
    
background-color: rgba(196, 241, 128, 0.473);
border: solid 1px rgba(252, 250, 250, 0.979) ;
border-radius: 10px;
}

.supertitulo{
    text-align: center;
}